:root {
    --font1: 'Open Sans', sans-serif;
    --font2: 'Raleway', sans-serif;
    --color1: #08a6e4;
    --color2: #a5a5a5;
    --color3: #fb3b64;
    --color4: #55dfb4;
    --color5: #07ace6;
    --color6: #e8e9ed;
    --color7: #13253b;
    --shadow1: rgba(0, 0, 0, 0.16);
    --shadow2: rgba(7, 172, 230, 0.16);
    --color-light-grey: rgba(211, 211, 211, 1);
    --color-primary: green;
    --color-grey: grey;
}