.container {
    width: 100%;
    @include mobile {
        max-width: 100%;
        align-self: flex-end;
    }
    @include desktop {
        max-width: 1352px;
        min-width: 300px;
        height: 100%;
        margin: 0 auto;
    }
}